@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Cargando...</title>
    <script type="text/javascript" src="~/Content/MaterialDesign/vendors/jquery-3.2.1.min.js"></script>
    @Scripts.Render("~/bundles/js/AccessWeb")
</head>
<body>
</body>
</html>