<!--============================================
Description:    Vista de lugar de reunión
Author:         ANGELY YAHAYRA MENDEZ CRUZ
Version:        1.1.1
UpdateAt:       27/08/2025
================================================ -->
<!-- start container-->
<div class="container">
    <div class="seaction">
        <div class="col s12 m12 l12" style="padding-top: 20px;">
            <div class="row">
                <div class="col s12 m12 l12">
                    <div class="card hoverable">
                        <div class="card-image blue lighten-4">
                            <!-- Título: Lugares -->
                            <div class="card-content card-content-head" style="border-bottom:1px solid #e0e6ed; margin-bottom:18px;">
                                <span class="card-title white blue-dark-text">
                                    <i class="material-icons">location_on</i> <span>Lugares</span>
                                </span>
                            </div>
                            <!-- Agregar Nuevo Lugar -->
                            <a id="btn-add-location" class="btn-floating activator halfway-fab waves-effect waves-light green">
                                <i class="material-icons">add</i>
                            </a>
                        </div>
                        <div class="card-content card-content-body div-content-location-meeting white-text" style="height: 100%; overflow-y: auto;">
                            <div class="row" style="margin-bottom: 15px;">
                                <!-- Título Filtros -->
                                <div class="col s12 m2 l2" style="width: 10% !important; margin-right: 5px !important; padding-top: 10px !important; align-items: center; justify-content: center; ">
                                    <span class="card-title black-text" style="margin-bottom: 0; font-weight: bold;">
                                        <i class="material-icons prefix" style="color: #212121; font-weight: bold;">filter_list</i> Filtros:
                                    </span>
                                </div>
                                <!-- Área -->
                                <div class="col s12 m4 l4" style="padding-top: 0px;">
                                    <div class="input-field-with-icon">
                                        <select name="cbo-area" id="cbo-area" class="select-dropdown select-with-search pmd-select2 form-control">
                                        </select>
                                        <label for="cbo-area">Área </label>
                                    </div>
                                </div>
                                <div class="col s12 m3" style="padding-top: 10px;">
                                    <button type="button" class="waves-effect waves-light btn light-blue lighten-1 btn-clear-filters-location-meeting" style="margin-left: 10px; padding-left: 10px; padding-right: 10px;">
                                        LIMPIAR FILTROS
                                    </button>
                                </div>
                            </div>
                            <div class="div-alert-message"></div>
                            <table id="datatable-location" class="dataTable display cell-border hover order-column row-border stripe" style="width: 100%;">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end container -->

@section Scripts {
    @Scripts.Render("~/bundles/js/LocationMeeting")
}
